---
import Icon from '@components/Icon.astro';
import { heroSocials } from '@data/site';

const microwdLink =
  '<span style="color: #ff0000; text-decoration: underline; text-underline-offset: 4px; text-decoration-thickness: 2px">Microwd</span>';
---

<section class="mx-auto max-w-screen-lg content-center px-4 xs:px-6 sm:px-8">
  <header
    class="relative flex flex-row-reverse flex-wrap-reverse justify-end sm:flex-nowrap [@media(width>=37rem)]:flex-row [@media(width>=37rem)]:justify-between"
  >
    <div>
      <h1 class="text-balance font-header">
        <span class="block text-5xl font-extrabold tracking-wide opacity-90"> Hey! I'm Alejandro Senior </span>
      </h1>
      <p class="mt-4 block text-3xl font-bold text-foreground/50">
        I'm a <strong>frontend</strong> developer.
      </p>
    </div>
    <div
      class="-mt-2 mb-6 mr-10 aspect-square size-16 min-h-16 min-w-16 overflow-clip rounded-full bg-white object-cover xs:min-h-24 xs:min-w-24 sm:mb-0 md:-mt-4 md:min-h-28 md:min-w-28 lg:-mt-2 2xl:mt-0 [@media(width>=37rem)]:mr-14"
    >
      <picture>
        <source srcset="/_astro/avatar.avif" type="image/avif" />
        <source srcset="/_astro/avatar.webp" type="image/webp" />
        <source srcset="/_astro/avatar.png" type="image/png" />
        <img src="/_astro/avatar.png" alt="Avatar" loading="eager" width="320" height="320" decoding="async" />
      </picture>
    </div>
  </header>

  <div>
    <p class="mt-12 max-w-[58ch] text-pretty text-left text-lg text-foreground/65 xs:text-xl">
      Specialized in frontend development with <strong>Vue.js</strong>, yet passionate about learning different technologies and continuously
      improving products and user experiences. Currently working at <a href="https://www.microwd.es" target="_blank"
        ><strong set:html={microwdLink} /></a
      > as <strong>Frontend Lead</strong>, a role I started in July 2022.
      <br /><br />
      My last name may say <em>Senior</em> — but there's always more to learn, and honestly, that's the best part.
    </p>

    <div class="mt-8 @container">
      <div class="mt-2 flex flex-col items-center justify-center gap-y-4 @[25rem]:mt-0 @[25rem]:flex-row @[25rem]:justify-start">
        <ul class="flex gap-x-2">
          {
            heroSocials.map((social) => (
              <li class="rounded-lg text-foreground/80 transition duration-200 hover:bg-accent hover:text-accent-foreground/80">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  data-tippy-content={social.label}
                  href={social.href}
                  aria-label={`Link to "${social.label}" (Opens in a new tab)`}
                  class="group"
                >
                  <Icon name={social.icon} class="box-content size-6 p-2 text-current sm:size-7 md:size-8" />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
