---
import Icon from '@components/Icon.astro';
import type { IconName } from 'src/interfaces';

interface Props {
  label: string;
  icon: IconName;
  shine?: boolean;
}

const { label, icon, shine = false } = Astro.props;

const base =
  'group/badge inline-flex items-center justify-center rounded-full border border-border bg-card select-none space-x-2 whitespace-nowrap px-4 py-2 font-semibold text-xs sm:text-sm';
const className = shine ? `${base} relative overflow-hidden text-foreground/90` : `${base} text-card-foreground`;
---

<span class={className}>
  <Icon name={icon} class="size-4" />
  <span>{label}</span>
  {
    shine && (
      <div class="absolute inset-0 flex size-full justify-center transform-[skew(-12deg)_translateX(-100%)] group-hover/badge:duration-1000 group-hover/badge:transform-[skew(-12deg)_translateX(100%)]">
        <div class="relative h-full w-8 bg-foreground/15" />
      </div>
    )
  }
</span>
